<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h-alami1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{340,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,230}}</string>
                <key>sourceSize</key>
                <string>{340,230}</string>
            </dict>
            <key>h-alami2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{340,218}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{340,218}}</string>
                <key>sourceSize</key>
                <string>{340,230}</string>
            </dict>
            <key>h-alami3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,230}}</string>
                <key>sourceSize</key>
                <string>{340,230}</string>
            </dict>
            <key>h-alami4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{340,218}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{340,218}}</string>
                <key>sourceSize</key>
                <string>{340,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alami.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af9aeb2c22b5ffc73459cb3a373d0ea$</string>
            <key>textureFileName</key>
            <string>alami.png</string>
        </dict>
    </dict>
</plist>
